
<tr >
    <td>{{ contact.date }}</td>      
    <td>{{ contact.name }}</td>
    <td>{{ contact.last_name }}</td> 
    <td>{{ contact.phone }}</td>
    <td>{{ contact.mail }}</td>
    <td>{{ contact.contact_reason_id }}</td>
    <td>{{ contact.product_id }}</td>
    <td>{{ contact.seller_id }}</td>
    <td>{{ contact.event_id}}</td>
    <td><i class="zmdi zmdi-mood"></i></td>
    <td><i class="zmdi zmdi-mood"></i></td>
    <td>{{ contact.comment_id }}</td>
    <td>
      <button class="btn btn-icon btn-neutral btn-icon-mini"><i class="zmdi zmdi-share"></i></button>
    </td> 
</tr>
