<aside id= "leads-module">
    <section class="content">
        <div class="block-header">
            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4 text-right mb-4">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="zmdi zmdi-home"></i> Home</a></li>
                            <li class="breadcrumb-item active">Leads</li>
                            <li class="breadcrumb-item active">Configuración</li>
                        </ul>
                </div>
                <div class="col-md-12 text-left">
                    <h2>Configuración previa de leads</h2>
                </div>
            </div>    
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                    <div class="card">                    
                        <div class="body"> 
                            
                            <div *ngIf="alert_danger_dev" class="alert alert-danger text-center" role="alert">
                                Debe seleccionar el tipo de <a href="javascript:void(0)" class="alert-link">DERIVACIÓN</a> de leads que va a emplear
                            </div>
                            <div *ngIf="alert_danger_criterio" class="alert alert-danger text-center" role="alert">
                                Debe seleccionar el tipo de <a href="javascript:void(0)" class="alert-link">CRITERIO DE SELECCIÓN</a> de leads que va a emplear
                            </div>
                            <div *ngIf="alert_users_selected" class="alert alert-danger text-center" role="alert">
                                Debe seleccionar al menos un <a href="javascript:void(0)" class="alert-link">USUARIO</a> de la lista (Gerentes, Supervisores o Vendedores)
                            </div>
                            
                            <div class="mb-3 col-md-12 display_flex">
                                <!-- <div class="col-md-6"> -->
                                    <div class="input-group-prepend animated margin-label" [ngClass]="pulse_criterio">
                                        <h6 class="input-group-text margin_auto" for="inputGroupSelect02">Criterio de selección: </h6>
                                    </div>
                                    <ng-select class="ml-3" [(ngModel)]="selectedCriterioId" [multiple] = "true" placeholder="--- Seleccione ---" id="inputGroupSelect02" #selection_criterio (change)="selectOption()">
                                        <ng-option *ngFor="let criterio of criterios" [value]="criterio" >{{criterio}}</ng-option>
                                    </ng-select>                                    
                            </div>                           

                            <div class="m-2">
                                <div class="row">
                                    <div class="col mb-4 col-md-6 col-lg-4 col-sm-6 col-12" *ngFor="let criterio of options_criterios; let i = index">
                                        <!-- <div class="col-md-4"> -->
                                            <h6>{{ criterio }}</h6>
                                            <ng-select *ngIf="criterio === 'canal'" class="col-md-12" [(ngModel)]="opcionCriterio[criterio]" (change)="set_option(criterio)" [multiple] = "true" placeholder="--- Seleccione ---" id="{{ criterio }}" >
                                                <ng-option *ngFor="let channel of channels" [value]="channel.id">{{ channel['channel'] }}</ng-option>
                                            </ng-select>
                                            
                                            <ng-select *ngIf="criterio === 'origen'" class="col-md-12" [(ngModel)]="opcionCriterio[criterio]" (change)="set_option(criterio)" [multiple] = "true" placeholder="--- Seleccione ---" id="{{ criterio }}" [closeOnSelect]="false"
                                            [searchable]="true">
                                                <ng-option *ngFor="let origin of origins" [value]="origin.id">{{ origin['origin'] }}</ng-option>
                                            </ng-select>

                                            <ng-select *ngIf="criterio === 'suborigen'" class="col-md-12" [(ngModel)]="opcionCriterio[criterio]" (change)="set_option(criterio)" [multiple] = "true" placeholder="--- Seleccione ---" id="{{ criterio }}" [closeOnSelect]="false"
                                            [searchable]="true">
                                                <ng-option *ngFor="let suborigin of suborigins" [value]="suborigin.id">{{ suborigin.origin }}</ng-option>
                                            </ng-select>

                                            <ng-select *ngIf="criterio === 'campaña'" class="col-md-12" [(ngModel)]="opcionCriterio[criterio]" (change)="set_option(criterio)" [multiple] = "true" placeholder="--- Seleccione ---" id="{{ criterio }}" >
                                                <ng-option *ngFor="let campana of campanas" [value]="campana.id">{{ campana['nombre'] }}</ng-option>
                                            </ng-select>

                                            <ng-select *ngIf="criterio === 'tipoventa'" class="col-md-12" [(ngModel)]="opcionCriterio[criterio]" (change)="set_option(criterio)" [multiple] = "true" placeholder="--- Seleccione ---" id="{{ criterio }}" >
                                                <ng-option *ngFor="let type_sale of type_sales" [value]="type_sale.id">{{ type_sale['name'] }}</ng-option>
                                            </ng-select>

                                            <ng-select *ngIf="criterio === 'producto'" class="col-md-12" [(ngModel)]="opcionCriterio[criterio]" (change)="set_option(criterio)" [multiple] = "true" placeholder="--- Seleccione ---" id="{{ criterio }}" >
                                                <ng-option *ngFor="let product of products" [value]="product.id">{{ product['name'] }}</ng-option>
                                            </ng-select>
                                            
                                            <ng-select *ngIf="criterio === 'ubicacion'" class="col-md-12" [(ngModel)]="opcionCriterio[criterio]" (change)="set_option(criterio)" [multiple] = "true" placeholder="--- Seleccione ---" id="{{ criterio }}" >
                                                <ng-option *ngFor="let addres of ubicacion" [value]="addres.id_locality">{{ addres.localidad }}, {{ addres.estado }} - {{ addres.pais }}</ng-option>
                                            </ng-select>

                                            <!-- <ng-select *ngIf="criterio === 'telefono'" class="col-md-12" [(ngModel)]="opcionCriterio[criterio]" (change)="set_option(criterio)" [multiple] = "true" placeholder="--- Seleccione ---" id="{{ criterio }}" >
                                                <ng-option *ngFor="let phone of phones" [value]="phone.id_client">{{ phone['phone'] }}</ng-option>
                                            </ng-select> -->
                                        <!-- </div>            -->
                                    </div>
                                </div>                                
                            </div>

                            <div class="mb-3 col-md-12 display_flex">
                                <div class="input-group-prepend animated margin-label" [ngClass]="pulse_dev">
                                    <h6 class="input-group-text margin_auto" for="inputGroupSelect01">Tipos de derivación: </h6>
                                </div>
                                <ng-select class="ml-3" placeholder="--- Seleccione ---" [(ngModel)]="selectedDerivationId" id="inputGroupSelect01" #selection_derivation (change)="selectOption()">
                                    <ng-option [value] = "1">Proactiva Automática</ng-option>
                                    <ng-option [value] = "2">Manual</ng-option>
                                    <ng-option [value] = "3">Automática</ng-option>
                                </ng-select>
                            </div>

                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#equipo_gerentes">Gerentes</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#equipo_supervisores">Supervisores</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#vendedores">Vendedores</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane stretchRight" id="vendedores">
                                    <ul class="mail_list list-group list-unstyled">
                                        <li *ngFor="let seller of sellersCopy; let i = index" class="list-group-item" [class.opacidad] = "seller.status === 'Deshabilitado' ">
                                            <div class="media">
                                                <div class="pull-left" style="display: -webkit-inline-box">                                
                                                    <div class="controls" style="display: -webkit-inline-box">
                                                        <div class="checkbox">
                                                            <input [disabled] = "seller.status === 'Deshabilitado' " type="checkbox" id="vendedor_checkbox_{{ i }}" (click) = "vendedor_selected(seller.id)">
                                                            <label for="vendedor_checkbox_{{ i }}"></label>
                                                        </div>
                                                        <a href="javascript:void(0);" class="favourite col-amber hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star"></i></a>
                                                    </div>
                                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar10.jpg" class="rounded-circle" alt=""> </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-heading">
                                                        <a href="javascript:void(0)" class="m-r-10">{{ seller.first_name }} {{ seller.last_name }}</a>
                                                        <span class="badge" [class.bg-green] = "seller.status === 'Habilitado'" [class.bg-red] = "seller.status === 'Deshabilitado'">{{ seller.status }}</span>
                                                    </div>
                                                    <p class="msg">Lorem Ipsum is simply dumm dummy text of the printing and typesetting industry. </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="body">                            
                                                <ul class="pagination pagination-primary m-b-0">
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="zmdi zmdi-arrow-left"></i></a></li>
                                                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="zmdi zmdi-arrow-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane stretchLeft" id="equipo_supervisores">
                                        <ul class="mail_list list-group list-unstyled">
                                            <li *ngFor="let supervisor of supervisores; let i = index" class="list-group-item" [class.opacidad] = "supervisor.status === 'Deshabilitado' ">
                                                <div class="media">
                                                    <div class="pull-left" style="display: -webkit-inline-box">                                
                                                        <div class="controls" style="display: -webkit-inline-box">
                                                            <div class="checkbox">
                                                                <input [disabled] = "supervisor.status === 'Deshabilitado' " type="checkbox" id="supervisor_checkbox_{{ i }}" (click) = "supervisor_selected(i)">
                                                                <label for="supervisor_checkbox_{{ i }}"></label>
                                                            </div>
                                                            <a href="javascript:void(0);" class="favourite col-amber hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star"></i></a>
                                                        </div>
                                                        <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar10.jpg" class="rounded-circle" alt=""> </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="media-heading">
                                                            <a href="javascript:void(0)" class="m-r-10">{{ supervisor.first_name }} {{ supervisor.last_name }}</a>
                                                            <span class="badge" [class.bg-green] = "supervisor.status === 'Habilitado'" [class.bg-red] = "supervisor.status === 'Deshabilitado'">{{ supervisor.status }}</span>
                                                        </div>
                                                        <p class="msg">Lorem Ipsum is simply dumm dummy text of the printing and typesetting industry. </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="body">                            
                                                <ul class="pagination pagination-primary m-b-0">
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="zmdi zmdi-arrow-left"></i></a></li>
                                                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="zmdi zmdi-arrow-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane stretchLeft active" id="equipo_gerentes">
                                        <ul class="mail_list list-group list-unstyled">
                                            <li *ngFor="let gerente of gerentes; let i = index" class="list-group-item" [class.opacidad] = " gerente.status === 'Deshabilitado' ">
                                                <div class="media">
                                                    <div class="pull-left" style="display: -webkit-inline-box">                                
                                                        <div class="controls" style="display: -webkit-inline-box">
                                                            <div class="checkbox">
                                                                <input [disabled] = " gerente.status === 'Deshabilitado' " type="checkbox" id="gerente_checkbox_{{ i }}" (click) = "gerente_selected(i)">
                                                                <label for="gerente_checkbox_{{ i }}"></label>
                                                            </div>
                                                            <a href="javascript:void(0);" class="favourite col-amber hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star"></i></a>
                                                        </div>
                                                        <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar10.jpg" class="rounded-circle" alt=""> </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="media-heading">
                                                            <a href="javascript:void(0)" class="m-r-10">{{ gerente.first_name }} {{ gerente.last_name }}</a>
                                                            <span class="badge" [class.bg-green] = "gerente.status === 'Habilitado'" [class.bg-red] = "gerente.status === 'Deshabilitado'">{{ gerente.status }}</span>
                                                        </div>
                                                        <p class="msg">Lorem Ipsum is simply dumm dummy text of the printing and typesetting industry. </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="body">                            
                                                <ul class="pagination pagination-primary m-b-0">
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="zmdi zmdi-arrow-left"></i></a></li>
                                                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="zmdi zmdi-arrow-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <a href="javascript:void(0)" (click)=" show_modal() " class="float js-right-sidebar" data-toggle="modal" data-target="#exampleModalCenter" data-close="true">
                                <span aria-label="Asignar Leads" class="list-icon hint--bottom">
                                    <i class="zmdi zmdi-check zmdi-hc-3x my-float"></i>
                                </span>
                            </a>
                        </div>
                    </div>
            </div>
        </div>    
    </section>
</aside>

<app-derivation-selection [criterios] = "options_criterios" [opciones_criterios] = "selected_options_criterios" [selectedDerivationId] = "selectedDerivationId" [gerentes] = "gerentes_selected" [supervisores] = "supervisores_selected" [vendedores] = "vendedores" *ngIf=" derivation_modal "></app-derivation-selection>