<div class="row clearfix social-widget" >


    <div class="col-lg-2 col-md-2 col-6 d-flex align-items-stretch">
        <div class="card info-box-2 hover-zoom-effect facebook-widget">
            <div class="icon"><i class="zmdi zmdi-phone"></i></div>
            <div class="content">
                <div class="text">Llamadas</div>
                <div class="number">{{ calls }}</div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-6 d-flex align-items-stretch">
        <div class="card info-box-2 hover-zoom-effect facebook-widget">
            <div class="icon"><i class="zmdi zmdi-pin"></i></div>
            <div class="content">
                <div class="text">Salón de Ventas</div>
                <div class="number">{{ visits }}</div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-6 d-flex align-items-stretch">
            <div class="card info-box-2 hover-zoom-effect facebook-widget">
                <div class="icon"><i class="zmdi zmdi-account-o"></i></div>
                <div class="content">
                    <div class="text">Administración</div>
                    <div class="number">{{ administrationCalls + administrationVisits }}</div>
                </div>
            </div>
    </div>

    <!--
        <div class="col-lg-2 col-md-2 col-6 d-flex align-items-stretch">
        <div class="card info-box-2 hover-zoom-effect">

            <div class="text">Administración</div>
            <div class="content">
                <div>
                    <span><div class="icon"><i class="zmdi zmdi-phone"></i></div></span>
                        <span>{{ administrationCalls + administrationVisits }}</span>
                </div>
                <div>
                    <span><div class="icon"><i class="zmdi zmdi-account-o"></i></div></span>
                        <span>{{administrationVisits}}</span>
                </div>
                    
                
                    
            </div>
            

        </div>
    </div>
    -->
    

    <!--
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
        <div class="card">
            <div class="body data text-center">

                    

                    <span><i class="zmdi zmdi-phone"></i></span>&nbsp;
                    <span>Llamadas</span>
                    <span><h5 class="m-t-0 m-b-0">{{administrationCalls}}</h5></span>
                    
                    <span><i class="zmdi zmdi-account-o"></i></span>&nbsp;
                    <span>Personal</span>
                    <span><h5 class="m-t-0 m-b-0">{{administrationVisits}}</h5></span>

            </div>
        </div>
    </div>
    -->
    

    <div class="col-lg-2 col-md-2 col-6 d-flex align-items-stretch">
        <div class="card info-box-2 hover-zoom-effect facebook-widget">
            <div class="icon"><i class="zmdi zmdi-balance"></i></div>
            <div class="content">
                <div class="text">Planes</div>
                <div class="number">{{ savingPlans }}</div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-6 d-flex align-items-stretch">
        <div class="card info-box-2 hover-zoom-effect facebook-widget">
            <div class="icon"><i class="zmdi zmdi-wrench"></i></div>
            <div class="content">
                <div class="text">Servicio</div>
                <div class="number">{{ services }}</div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-6 d-flex align-items-stretch">
        <div class="card info-box-2 hover-zoom-effect facebook-widget">
            <div class="icon"><i class="zmdi zmdi-memory"></i></div>
            <div class="content">
                <div class="text">Repuestos</div>
                <div class="number">{{ parts }}</div>
            </div>
        </div>
    </div>




</div>
