<div class="text-center">
    <a href="javascript:void(0);">
        <span class="list-icon hint--bottom" attr.aria-label="F. venta: {{dateSale | date: 'dd/MM H:mm'}}" attr.data-dropdown="{{'#dropdown-seller-'+id}}">
            <img class="patients-img" src="http://via.placeholder.com/50x50" alt="" style="border: 2px solid;" [ngStyle]="{'border-color': seller.membership.color}">
        </span>
    </a>
    <P class="name">
        <a class="btn btn-link btn-sm" href="javascript:void(0);" [routerLink]="['/experience/operations', {outlets: {rightSidenav: ['seller-operation', id]}}]" (click)="openSidebar()">
            <span>{{seller.first_name}} {{seller.last_name}}</span>
        </a>  
    </P>
    <p class="empaty">
        <a class="btn btn-link btn-sm" href="javascript:void(0);" attr.data-dropdown="{{'#dropdown-seller-empaty-'+id}}">
            <i class="zmdi zmdi-mood"></i>
        </a>
    </p>
</div>
<div class="dropdown-menu dropdown-anchor-left-center dropdown-has-anchor" attr.id="{{'dropdown-seller-'+id}}" style="display: block; top: 22.5px; left: 39px; width: 250px;">
    <table class="bg-basic" style="width: 100%;">
        <tbody>
            <tr>
                <th style=" padding: 5px 0;"> <span class="dropdown-title">Opciones</span></th>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="javascript:void(0);">
                <i class="zmdi zmdi-alarm"></i>
                <span>F.Prom: 12/10/2018 (5d)</span>
            </a>
        </li>
    </ul>
</div>
<div class="dropdown-menu dropdown-anchor-left-center dropdown-has-anchor" attr.id="{{'dropdown-seller-empaty-'+id}}" style="display: block; top: 22.5px; left: 39px; width: 250px;">
    <table class="bg-basic" style="width: 100%;">
        <tbody>
            <tr>
                <th style=" padding: 5px 0;">
                    <span class="dropdown-title">Opciones</span>
                </th>
            </tr>
        </tbody>
    </table>
    <ul>   
        <li style="padding: 1px;">
            <div class="radio">
                <input type="radio" attr.name="{{'empaty-'+id}}" attr.id="{{'empaty-'+id+'-1'}}" value="option1">
                <label attr.for="{{'empaty-'+id+'-1'}}">
                    <i class="fa fa-frown-o fa-lg" style="color: #FF2C11;"></i>  Muy Mal
                </label>
            </div>
        </li>
        <li style="padding: 1px;">
            <div class="radio">
                <input type="radio" attr.name="{{'empaty-'+id}}" attr.id="{{'empaty-'+id+'-2'}}" value="option2">
                <label attr.for="{{'empaty-'+id+'-2'}}">
                    <i class="fa fa-frown-o fa-lg" style="color: #F2930E;"></i>  &nbsp; Mal
                </label>
            </div>
        </li>
        <li style="padding: 1px;">
            <div class="radio">
                <input type="radio" attr.name="{{'empaty-'+id}}" attr.id="{{'empaty-'+id+'-3'}}" value="option3">
                <label attr.for="{{'empaty-'+id+'-3'}}">
                    <i class="fa fa-meh-o fa-lg" style="color: #000;"></i>  &nbsp; Más o Menos
                </label>
            </div>
        </li>
        <li style="padding: 1px;">
            <div class="radio">
                <input type="radio" attr.name="{{'empaty-'+id}}" attr.id="{{'empaty-'+id+'-4'}}" value="option4">
                <label attr.for="{{'empaty-'+id+'-4'}}">
                    <i class="fa fa-smile-o fa-lg" style="color: #06F71D;"></i>  &nbsp; Bien
                </label>
            </div>
        </li>
        <li style="padding: 1px;">
            <div class="radio">
                <input type="radio" attr.name="{{'empaty-'+id}}" attr.id="{{'empaty-'+id+'-5'}}" value="option5">
                <label attr.for="{{'empaty-'+id+'-5'}}">
                    <i class="fa fa-smile-o fa-lg" style="color: #248F4F;"></i>  &nbsp; Muy Bien
                </label>
            </div>
        </li>
    </ul>
</div>