.list-icon img {
    border-radius: 100%;
}
.name, .empaty {
    margin-bottom: 0;
}
.name {
    margin-top: -8px;
}
.empaty {
    margin-top: -26px;
}
li .radio {
    margin: 0;
}
.radio label i {
    margin-left: 20px;
}