<section class="content">
    
    <div class="block-header">
  
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>Contactos</h2>
            </div> 
            
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item">
                            <a routerLink="/dashboard">
                                <i class="zmdi zmdi-account-add"></i>
                                Recepción
                            </a>
                        </li>
                    <li class="breadcrumb-item active">Contactos</li>
                </ul>
            </div>
          
        </div>
  
    </div>
  
    <div class="container-fluid">

        <app-contact-stats></app-contact-stats>
        
        

           
        <app-contact-search></app-contact-search>
           
            
        

        <app-contact-list></app-contact-list>
        
    </div>
    
</section>

<!--
    <app-register-reception></app-register-reception>
-->


<app-modal-reception></app-modal-reception>





