<div>
    <span class="hint--left" data-hint="Tipo de Venta: Convencional" style="color: #008000">
        <i class="fa fa-car"></i>
    </span>
    &nbsp;<span class="hint--left" data-hint="Tipo de Pago: Contado" attr.data-dropdown="{{'#dropdown-wayToPay-'+id}}">
        $
    </span>
    &nbsp;<span style="color: #d7dde5" class="panel-sent_client hint--left" data-hint="No enviado al cliente" data-budget="20" data-sent="">
        <i class="fa fa-envelope"></i>
    </span>
    &nbsp;<span class="panel-convert_sale hint--left" data-hint="Venta" data-task="633" data-budget="20">
    <i style="color:black" class="fa fa-bullseye"></i>
    </span>
    <div class="dropdown-menu dropdown-anchor-right-center dropdown-has-anchor" attr.id="{{'dropdown-wayToPay-'+id}}" style="display: block; top: 22.5px; left: 39px; width: 250px;">
        <table class="bg-basic" style="width: 100%;">
            <tbody>
                <tr>
                    <th style=" padding: 5px 0;"> <span class="dropdown-title">Detalles</span></th>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>
                <a href="javascript:void(0);">
                    <span>$ Total a pagar: $200</span>
                </a>         
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span>$ Depositado: $50</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span>$ Saldo: $100</span>
                </a>
            </li>
        </ul>
    </div>
</div>