<aside id= "leads-module">    
    <section class="content">
        <div class="block-header">
            <div class="row">
              <div class="col-12 col-md-6"></div>
              <div class="col-6 col-md-6 text-right mb-4">            
                      <ul class="breadcrumb float-md-right">
                          <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="zmdi zmdi-home"></i> Home</a></li>
                          <li class="breadcrumb-item active">Leads</li>
                          <li class="breadcrumb-item active">Vendedores</li>
                      </ul>
              </div>
                <div class="col-md-12 text-left">
                    <h2>Bandeja de Leads</h2>
                </div>
            </div>    
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                    <div class="card">                    
                        <div class="body"> 
                            <div *ngIf="alert_by_derivation" class="alert alert-danger text-center" role="alert">
                                Debe seleccionar el tipo de <a href="javascript:void(0)" class="alert-link">DERIVACIÓN</a> de leads que va a emplear
                            </div>

                            <div *ngIf="alert_by_empty_leads" class="alert alert-danger text-center" role="alert">
                                    Debe seleccionar al menos un <a href="javascript:void(0)" class="alert-link">LEAD</a> de la lista
                            </div>

                            <!-- <div class="table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>Seleccione</th>
                                          <th>ID Lead</th>
                                          <th>Nombre</th>
                                          <th>Apellido</th>
                                          <th>Email</th>
                                          <th>N° Documento</th>
                                          <th>Origen del Lead</th>
                                          <th>Código del Vehículo</th>
                                      </tr>
                                  </thead>
                                  <tbody *ngIf="leads">
                                      <tr *ngFor="let lead of leads;let i = index">
                                          <td class="text-center">
                                              <div class="checkbox">
                                                  <input id="checkbox{{ i }}a" type="checkbox" (click)="selected_lead( lead )">
                                                  <label for="checkbox{{ i }}a" class="margin_check"></label>
                                              </div>
                                          </td>
                                          <td>{{ lead.lead_id }}</td>
                                          <td>{{ lead.name }}</td>
                                          <td>{{ lead.last_name }}</td>
                                          <td>{{ lead.email }}</td>
                                          <td>{{ lead.document_nro }}</td>
                                          <td><a>{{ lead.lead_url_origin }}</a></td>
                                          <td>{{ lead.vehicle_code }}</td>
                                      </tr>                                
                                  </tbody>
                              </table>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="body">                            
                                        <ul class="pagination pagination-primary m-b-0">
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="zmdi zmdi-arrow-left"></i></a></li>
                                            <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="zmdi zmdi-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                            <a (click)=" show_modal() " class="float js-left-sidebar" data-toggle="modal" data-target="#exampleModalCenter" data-close="true">
                                <i class="zmdi zmdi-plus zmdi-hc-3x my-float"></i>
                            </a>
                        </div>
                    </div>
            </div>
        </div>    
    </section>
  </aside>
  
  <app-selection-users *ngIf="modal_flag" [leads] = "seleted_leads_ids" [derivacion] = "selectedDerivationId"></app-selection-users>