<div class="modal-header">
    <h4 class="title" id="largeModalLabel">Avance</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="tab-panel active">
        <table class="table m-b-0 table-hover">
            <thead>
                <tr>                                       
                    <th class="text-center">Estado</th>
                    <th class="text-center">13-14-15-16</th>
                    <th>Operacion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Entregado (agregar en stock fisico)</td>
                    <td>
                        <!--<div class="progress m-b-20">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                        </div>-->
                    </td>
                    <td class="text-right">
                        <span class="list-icon hint--bottom" aria-label="Moneda: (USD)">$1000</span>
                    </td>
                </tr>
                <tr>
                    <td>Depositado</td>
                    <td>
                        <div class="progress m-b-20">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <span class="list-icon hint--bottom" aria-label="Moneda: (USD)">$930</span>
                    </td>
                </tr>
                <tr>
                    <td>Observado</td>
                    <td>
                        <div class="progress m-b-20">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <span class="list-icon hint--bottom" aria-label="Moneda: (USD)">$13000</span>
                    </td>
                </tr>
                <tr>
                    <td>Papeles</td>
                    <td>
                        <div class="progress m-b-20">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <span class="list-icon hint--bottom" aria-label="Moneda: (USD)">$10000</span>
                    </td>
                </tr>
                <tr>
                    <td>Pagado</td>
                    <td>
                        <div class="progress m-b-20">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <span class="list-icon hint--bottom" aria-label="Moneda: (USD)">$10000</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>   
</div>
<div class="modal-footer">
    <!--<button type="button" class="btn btn-default btn-round waves-effect">GUARDAR</button>-->
    <button type="button" class="btn btn-danger waves-effect" (click)="activeModal.dismiss('Cross click')">CERRAR</button>
</div>