<div class="page-header">
  <div class="page-header-image" style="background-image:url(assets/images/login.jpg)"></div>
  <div class="container">
      <div class="col-md-12 content-center">
          <div class="card-plain">
            <form class="form" [formGroup]="loginForm" (submit)="login()"> 
                <div class="header">
                    <div class="logo-container" style="width: 150px;">
                        <img src="assets/images/logos/logo-negro-sin-fondo.png" alt="">
                    </div>
                    <h5>Ingresar al sistema</h5>
                </div>
                <div class="content">                                                
                    <div class="input-group input-lg">
                        <input type="text" class="form-control" placeholder="Correo electronico" formControlName="email">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-account-circle"></i>
                        </span>
                    </div>
                    <div class="input-group input-lg">
                        <input type="password" placeholder="Contraseña" class="form-control" formControlName="password">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="footer text-center">
                    <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Ingresar</button>
                    <h5>
                        <a routerLink="/authentication/forgotpassword" class="link">Olvide mi contraseña</a>
                    </h5>
                </div>
            </form>
          </div>
      </div>
  </div>
</div>