<ul>
    <li>
        <div class="row">
            <div class="col">
                <img src="https://cdn0.iconfinder.com/data/icons/vehicle-1/48/8-48.png" alt="">
            </div>
        </div>
    </li>
    <li style="margin: 0 15px; margin-top: 10px;">
        <div class="row">
            <div class="col">
               <strong>{{budget[0].product_detail.name}}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i class="fa fa-clock-o"></i> {{budget[0].product_detail.year}}
            </div>
            <div class="col">
                <i class="fa seller-car-door"></i> {{budget[0].product_detail.doors}}Ptas
            </div>
            <div class="col">
                <i class="fa seller-chassis"></i> 4x2
            </div>
            <div class="col">
                <i class="fa seller-piston"></i> 1.6L
            </div>
            <div class="col">
                <i class="fa seller-fuel"></i> Nafta
            </div>
        </div>
    </li>
</ul>